#app {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.header {
  padding: 20px;
}
.fix {
  position: fixed;
  z-index: 100;
  background-color: white;
  width: inherit;
}

#app .container {
  width: 376px;
  height: 666px;
  z-index: 100;

  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .9);
  overflow: scroll;
  position: absolute;
}

#app .container-view {
  position: relative;
  top: 130px;
  padding: 20px;
  height: auto;
}

.options{
    display: flex;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    justify-content: space-around;
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 10px;
    background: white;
  }

.select{
    border-bottom: 3px solid green !important;
    padding-bottom: 2px;
}